.section {
    /* --region-space: var(--space-l-2xl); */
    background-color: var(--color-bg);
}

main {
   /* --region-space: var(--space-2xl-3xl); */
   --color-bg: var(--color-primary);
   background-image: url("/images/bg-intro-desktop.png");
}

/* form.section {
   --color-bg: var(--color-light); 
} */