:root {
    /* 
    experimenting...
    Colors 
    */
    --dark-gray: hsl(0, 0%, 63%);
    --very-dark-gray: hsl(0, 0%, 27%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'League Spartan', sans-serif;
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

* {
    outline: 1px solid hotpink;
}

/* 
HEADER
*/

header {
    width: 100%;
    /* background-color: lightseagreen; */
    display: flex;
    align-items: center;
    padding: 2rem 1.5rem;
    position: absolute;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 1.5em;
}

nav a {
    /* flex: 0 0 100%; */
}

a {
    --clr-link: hsl(0, 0%, 0%);
    --clr-link-bg: hsla(0, 0%, 100%, 0);

    --_color: var(--clr-link, hsl(0, 0%, 0%));
    --_clr-link-bg: var(--dark-gray), hsl(0, 0%, 63%);
    padding: 0.2rem;
    background: var(--clr-link-bg);
    color: var(--_color);
}

a:focus {
    --clr-link: var(--dark-gray);
    --clr-link-bg: var(--white);
    border-radius: 0;
    outline-color: var(--clr-link);
}

header a,
nav a {
    --clr-link: hsl(0, 0%, 100%);
    text-decoration: none;
}

header a:focus,
nav a:focus {
    --clr-link: var(--white);
    --clr-link-bg: var(--very-dark-gray);
}

nav a:hover,
a:hover,
a:focus {
    text-decoration: underline;
}

button:focus {
    /* margin: .2rem; */
    outline: 2px solid black;
}

#navToggle {
    display: none;
}

@media screen and (max-width: 30em) {
    #navToggle {
        display: block;
        width: 1.4em;
        height: 1.2em;
        border: 0;
        background-image: url("../../images/icon-hamburger.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        z-index: 3;
    }

    header {
        justify-content: space-between;
    }

    /* Removes logo which causes a break in tabbing order */
    #navToggle[aria-expanded="true"] ~ a[href="#logo"] {
        display: none;
    }

    #navToggle[aria-expanded="true"] ~ nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        background-color: hsla(0, 0%, 0%, 0.5);
        overflow: hidden;
    }

    nav ul {
        display: none;
        width: 100%;
        /* top: 0;
        left: 0; */
        margin: 0;
        z-index: 10;
        padding: 2rem 2rem;
        background-color: var(--white);
    }

    /* #navToggle[aria-expanded="false"] ~ ul {
        display: none;
    } */
    #navToggle[aria-expanded="true"] {
        background-image: url("../../images/icon-close.svg");
    }

    #navToggle[aria-expanded="true"] ~ nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-inline-end: 1rem;
    }

    #navToggle[aria-expanded="true"] ~ header a,
    nav a {
        --clr-link: hsl(0, 0%, 0%);
        text-decoration: none;
    }
}

/*
MAIN
*/


.carousel {
    width: 100vw;
    background-color: lightgray;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    z-index: 2;
}

.slide {
    /* position: absolute;
    top: 0;
    left: 0;
    inset: 0; */
    /* width: 100vw; */
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    flex-wrap: wrap;
    flex: 1 1 auto;
    /* grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr)); */
    /* width: 100%; */
    overflow: hidden;
}

.slide img {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
    /* aspect-ratio: 16/9; */
    object-fit: contain;
}

.slide-content {
    --padding-inline: 4rem;
    padding-inline: var(--padding-inline);
    padding-block: 3rem;
    max-width: 60ch;
    display: inherit;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.slide-content h2 {
    font-size: 3em;
    line-height: 1;
}

.carousel__nav

.slide-content p {
    padding-block: 1.5rem;
}

.slide-content a {

}

@media screen and (max-width: 60em) {
    .slide {
        justify-content: center;
        /* flex-wrap: wrap; */
    }

    .slide-content {
        --padding-inline: 2rem;
    }

    .slide-content h2 {
        font-size: 2.2em;
        line-height: 1;
    }

}



/* .slide > img {
    flex: 2;
}
.slide > div.slide-content {
    flex: 1;
} */



/* .slide h2::before {
    content: "something";
    background-image: url("../../images/icon-angle-right.svg");
  } 


.carousel::before {
    background-image: url("../../images/icon-angle-right.svg");
  }

.slide img::after {
    content: "something";
    display: inline-block;
} 
*/