:root {
    --opacity-half: .5;

    --clr-soft-red: hsl(7, 99%, 70%);
    --clr-soft-red-a5: hsl(7, 99%, 70%, var(--opacity-half));
    --clr-yellow: hsl(51, 100%, 49%);
    --clr-yellow-a5: hsla(51, 100%, 49%, var(--opacity-half));
    --clr-dark-cyan: hsl(167, 39%, 25%);
    --clr-light-cyan: hsl(168, 34%, 41%);
    --clr-lighter-cyan: hsl(167, 44%, 70%);
    --clr-dark-blue: hsl(198, 62%, 26%);

    --clr-very-dark-blue: hsl(212, 27%, 19%);
    --clr-darker-blue-gray: hsl(213, 9%, 39%);
    --clr-dark-blue-gray: hsl(232, 10%, 55%);
    --clr-blue-gray: hsl(210, 4%, 67%);
    --clr-white: hsl(0, 0%, 100%);

    --clr-service-content: pink;

    --font-body: normal 1.125em/1.5 "Barlow", sans-serif;
    --font-body-link: normal 1.125em/1.5 "Fraunces", sans-serif;
    --font-heading-2: 900 2em/1.1 "Fraunces", sans-serif;
    --font-heading-3: 900 1.75em/1.1 "Fraunces", sans-serif;
    --font-heading-4: bold 1.5em/1.4 "Fraunces", sans-serif;
    --font-heading-5: bold 1.125em/1.5 "Fraunces", sans-serif;
}

body {
    font: var(--font-body);
}
/* needs to simplified with variables */
/* h1,h2,h3,h4 {
    font: var(--font-heading-2);
} */

* {
    /* outline: 2px solid hotpink; */
}

a {
    text-decoration: none;
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}


/* HEADER */

.hero {
    height: 80vh;
    background-image: url("../images/desktop/image-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.header__logo {
    margin-right: 2rem;
    padding: 1.5rem 0;
}

.header__nav {
    max-width: 100%;
}

.header__nav-list {
    max-width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    list-style: none;
}

.header__nav-list a {
    color: var(--clr-white);
}

.header__nav-list--btn a {
    font: var(--font-body-link);
    font-size: 1em;
    background-color: var(--clr-white);
    color: var(--clr-dark-blue);
    padding: 1rem 2rem;
    border-radius: 50px;
    text-transform: uppercase;
}

.header__nav-list--btn a:hover {
    background-color: hsla(0, 0%, 100%, .3);
    color: var(--clr-white);
}

.hero__header #menu-btn, .header__menu-icon {
    display: none;
}

.test {
    display: none;
    background-color: rebeccapurple;
}

@media screen and (max-width: 42.5em) {
    .hero__header {
        /* flex-direction: column; */
        align-items: flex-start;
    }

   .hero__header label {
        cursor: pointer;
        display: block;
    }

    .header__menu-icon {
        display: block;
        padding: 1.5rem 0;
    }

    .header__nav {
        position: relative;
        width: 100%;
        display: none;
    }

    .header__nav-list {
        background-color: var(--clr-white);
        color: black;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 3rem 2rem;
        margin: 2rem auto;
        list-style: none;
    }
    
    .header__nav::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-bottom: 32px solid var(--clr-white);
        border-left: 32px solid transparent;
        content: "";
    }

    .header__nav-list a {
        color: var(--clr-darker-blue-gray);
        font-size: 1.2em;
    }

    .header__nav-list--btn {
        margin-top: 1rem;
    }

    .header__nav-list--btn a {
        font: var(--font-body-link);
        background-color: var(--clr-yellow);
        color: var(--clr-dark-blue);
        /* padding: 1rem 2rem; */
        margin-top: 2rem;
        border-radius: 50px;
    }
    


/* Toggle menu */

.hero__header input:checked ~ .test {
        display: block;
        padding: 1rem;
        background-color: skyblue;
        z-index: 88888888;
    }

    .hero__header input:checked ~ .header__nav {
        display: block;
    }
}


.hero__content {
    /* background-color: lightblue; */
    display: flex;
    /* gap: 4rem; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4rem;
    margin: 3rem auto;
}

.content__title {
    color: var(--clr-white);
    font: var(--font-heading-2);
    font-size: 3em;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    padding: 2.5rem;
}

@media screen and (max-width: 60em) {
    h2.content__title {
        font-size: 2.25em;
        padding: 2rem .5rem;
    }
}


/* MAIN */

.feature {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(fr, 2fr)); */
    /* grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;

    /* margin: 0 auto; */

    /* max-inline-size: max-content; */
    /* margin-inline: auto; */

    /* background-color: lightslategray; */
}

@media screen and (max-width: 42.5em) {
    .feature {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .feature__content {
        /* background-color: lightblue; */
        padding: 0rem;
        /* padding: 0 8rem; */
        /* margin: 0rem 2rem; */
        color: var(--clr-dark-blue-gray);
    }
}

@media screen and (min-width: 90em) {
    section {
        max-inline-size: max-content;
        margin-inline: auto;
    }

    .feature__content {
        max-width: 60ch;
    }

    /* .feature__content {
        background-color: lightblue;
        padding: 0rem;
        color: var(--clr-dark-blue-gray);
    } */
}

.centerish {
    max-inline-size: max-content;
    margin-inline: auto;
}

.feature__content {
    /* background-color: lightblue; */
    padding: 0 8rem;
    color: var(--clr-dark-blue-gray);
}

.feature__content h2 {
    font: var(--font-heading-2);
    color: var(--clr-very-dark-blue);
    margin-bottom: 1rem;
}

@media screen and (max-width: 60em) {
    .feature__content {
        /* background-color: lightblue; */
        padding: 1rem 2.5rem;
        color: var(--clr-dark-blue-gray);
    }

    .feature__content h2 {
        font: var(--font-heading-3);
        color: var(--clr-very-dark-blue);
        margin-bottom: 1rem;
    }
}


.feature__content p {
    margin-bottom: 2rem;
}

.feature__content a {
    font: var(--font-heading-5);
    color: var(--clr-very-dark-blue);
    text-transform: uppercase;
    text-decoration: solid underline var(--clr-yellow-a5) 10px;
    text-underline-offset: -0.4em;
    text-decoration-skip-ink: none;
    /* text-decoration-color: var(--clr-yellow-a5); */
}

.feature__content a.soft-red {
    text-decoration: solid underline var(--clr-soft-red-a5) 10px;
}

.feature__content a.soft-red:hover {
    text-decoration: solid underline var(--clr-soft-red) 10px;
}

.feature__content a:hover {
    text-decoration: solid underline var(--clr-yellow) 10px;
}

.feature__img {
    background-color: lightseagreen;
}

.feature__img img {
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 1/1;

    /* width: 100%;
    max-width: 100%; */
    /* background-color: lightgreen; */
    /* aspect-ratio: 16 / 9; */
    object-fit: cover;
}

.reverse {
    order: 1;
}

/* .feature__content {
    order: 1;
} */

@media screen and (max-width: 42.5em) {
    .feature__content {
        padding: 3rem 1rem;
        order: 1;
        text-align: center;
    }

    .feature__img {
        order: 0;
    }
}

.service {
    /* background-color: bisque; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    text-align: center;
}

.service img {
    width: 100%;
    object-fit: cover;
}

.service__content {
    color: var(--clr-service-content);
    /* background-color: lightblue; */
    /* min-height: 8em; */
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 10%;
    /* left: 50%;
    transform: translate(-50%, 0); */
}

.service__content[data-color="cyan"] {
    --clr-service-content: var(--clr-dark-cyan);
}

.service__content[data-color="blue"] {
    --clr-service-content: var(--clr-dark-blue);
}

.service__content h3 {
    font: var(--font-heading-4);
    margin-bottom: 1rem;
}

.service__content p {
    padding: 0 3rem;
}

.testimonal__section {
    /* background-color: lightskyblue; */
    text-align: center;
    padding: 8rem 0;
}

@media screen and (max-width: 42.5em) {
    .testimonal__section {
        padding: 4rem 0;
    }
}

.testimonal__section h2 {
    margin-bottom: 3rem;
    font: var(--font-heading-4);
    font-weight: 900;
    text-transform: uppercase;
    color: var(--clr-blue-gray);
    letter-spacing: 0.4rem;
}

.testimonial__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 2rem;
    /* flex-direction: row; */
}

.testimonial__card {
    /* background-color: khaki; */
    max-width: 35ch;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 2rem 0;
}

@media screen and (max-width: 42.5em) {
    .testimonial__wrapper {
        gap: 4rem;
    }

    .testimonial__card {
        gap: 2rem;
    }
}

.testimonial__card img {
    max-width: 25%;
    border-radius: 50%;  
}

.testimonial__card p {
    font-size: 1.05em;
    max-width: 35ch;
    /* color: var(--clr-very-dark-blue); */
    color: var(--clr-darker-blue-gray);
}

.testimonial__author {
    display: flex;
    flex-direction: column;
}

.testimonial__author span {
    font: var(--font-heading-5);
    font-size: 1.5em;
    font-weight: 900;
    color: var(--clr-very-dark-blue);
    padding: .25rem 0;
}

.testimonial__author span  + span {
    font: var(--font-body);
    color: var(--clr-blue-gray);
}

.gallery__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr; 
}

@media screen and (max-width: 42.5em) {
    .gallery__section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr; 
    }
}

.gallery__section img {
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 1/1;
    /* width: 100%;
    max-width: 100%; */
    background-color: lightgreen;
    /* aspect-ratio: 16 / 9; */
    object-fit: cover;
}


/* FOOTER */

.footer__section {
    background-color: var(--clr-lighter-cyan);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* padding: 3rem 0; */
    /* background: var(--clr-dark-cyan); */
    /* color: var(--clr-dark-cyan); */
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}

.footer__content svg path{
    fill: var(--clr-dark-cyan);
}

.footer__content ul {
    display: flex;
    list-style: none;
    gap: 3rem;
}

.footer__content nav {
    padding-top: 1rem;
}

.footer__content nav + ul {
    padding-top: 2.5rem;
}

.footer__content a {
    color: var(--clr-light-cyan);
}

.footer__content a:hover {
    color: var(--clr-white);
}

.social__links img:hover {
    cursor: pointer;
    filter: invert(1) sepia(1) hue-rotate(200deg) saturate(0) brightness(100);
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: var(--clr-dark-cyan);
}

