// Variables
$clr-primary: hsl(0, 0%, 8%);
$clr-accent: hsl(0, 0%, 41%);
$clr-secondary: hsl(0, 0%, 98%);

$font-primary: normal 1.125em/1.5 "Epilogue", sans-serif;
$font-heading: bold 5.5em/1 "Epilogue", sans-serif;
$font-link: normal 1em/1.5 "Epilogue", sans-serif;

$font-primary-size: 1.125em;
$font-heading-size: 3em;
$font-link-size: .9em;

:root {
    --clr-primary: # {hsl(0, 0%, 8%)};
    --clr-accent: # {hsl(0, 0%, 41%)};
    --clr-secondary: # {hsl(0, 0%, 98%)};

    --font-primary: # {normal 1.125em/1.5 "Epilogue", sans-serif};
    --font-heading: # {bold 3em/1.1 "Epilogue", sans-serif};
    --font-link: # {normal .9em/1.5 "Epilogue", sans-serif};

    --font-primary-size: # {1.125em}; 
    --font-heading-size: # {3em};
    --font-link-size: # {.9em};
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
