.btn__menu {
    cursor: pointer;
    padding: .5rem;
    background-color: white;
    border: 0;
}

.dropdown__title {
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.dropdown__title::after {
    display: inline-block;
    content: url('../assets/images/icon-arrow-down.svg');
    margin-left: .25rem;
}

.button {
    padding: .75rem 1.5rem;
    border-radius: 14px;
    border: 2px solid $clr-primary;
    text-decoration: none;

    &--primary {
        background-color: $clr-primary;
        color: $clr-secondary;
    }
    
    &--secondary {
        border: 2px solid $clr-accent;
    }
}

.button--primary {

}